# =========================
# Python cache / bytecode
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.env

# =========================
# Jupyter / training junk
# =========================
.ipynb_checkpoints/
*.ipynb

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
