/* sidebar */
.sidebar {
  background: #064E3B;
  color: #fff;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar ul li:hover {
  background: #0f766e;
}

/* content */
.main-content h1 {
  margin-bottom: 20px;
}

/* cards */
.card {
  background: #ecfdf5;
  color: #064E3B;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}