/* ========================= */
/* RESET + BASE STYLES       */
/* ========================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    180deg,
    #f8f8fc 0%,
    #f3f1ff 30%,
    #ede9ff 60%,
    #f8f8fc 100%
  );
  color: #f1f5f9;
  margin: 0;
}

/* ========================= */
/* SCROLLBAR HIDE (GLOBAL)   */
/* ========================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}
