PORT=5000
MONGO_URI=mongodb://localhost:27017/LaskhyaAI
JWT_SECRET=l2c5f5997929a0f1b825f2efbd7b64fc681e43e924efca5168cb7c03865639c67 
EMAIL_SERVICE=gmail
EMAIL_USER=lakshyaai1556@gmail.com
EMAIL_PASS=blqxjjgcbkjdjwkw
EMAIL_FROM=LakshyaAI <lakshyaai1556@gmail.com>
CLIENT_URL=http://localhost:5173
ML_API_KEY =l2c5f5997929a0f1b825f2efbd7b64fc681e43e924efca5168cb7c03865639c67
ML_BACKEND_URL=https://lakshyaai.onrender.com
ML_TIMEOUT_MS=12000
