/* ========================= */
/* RESET + BASE STYLES       */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background : linear-gradient(135deg,#ecfdf5,#ccfbf1);
  color: #f1f5f9;
  margin: 0;
}

/* ========================= */
/* SCROLLBAR HIDE (GLOBAL)   */
/* ========================= */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

